/* Content -> Padding -> Border -> Margin */
.logoMain {
  display: block;
  border-radius: 8px;
  border: 2px solid black;
  padding: 5px;
  width: 75px;
  height: 75px;
  float: left;
  transition-duration: 0.4s;
}

a.logoLink {
  display: block;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 50px;
  width: 89px;
  height: 89px;
}

.logoMain:hover {
  /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
  box-shadow: 0 0 5px 2px red;
}

.centertextMain {
  padding-left: auto;
}

.textTest {
  color: blue;
  font-size: 200%;
  border: 2px solid red;
  display: inline;
}

body {
  font-family: Courier;
  background-color: #fffaf0;
  color: black;
  transition-duration: 0.4s;
}

body a{
  color: black;
}

body ul li a:hover {
  color: #8D9F87;
}

.blog h1 a {
    color: black;
}

.blog h3 {
    color:#1a202c;
}

.blog h3 a {
    color:#1a202c;
    text-decoration:none;
}

.blog h3 a:hover {
    color:#8D9F87;
}

.blog p {
    color:#718096;
    margin-left: 30px;
    margin-right: 30px;
}

.blog a {
  text-decoration:none;
}

.blog h1 a:hover {
  color:#8D9F87;
}

.blog.navbar a {
  color: black;
}

.navbar {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  z-index: 1;
}

.blog .navbar{
  transition-duration: .5s;
}

.navbar a.active {
  background-color: #6f9283;
  color: white;
}

.navbar li a:not(.floatright) {
  display: block;
  float: left;
}

.navbar .icon-stack {
  display: none;
}

.navbutton {
  display: inline-block;
  color: white;
  text-decoration: none;
  /* padding: length|initial|inherit; */
  padding: 10px 12px;
  transition-duration: 0.5s;
}

.navbutton:hover {
  background-color: #f0dcca;
  color: black;
}

.dark-mode .navbutton:hover {
  color: black;
}

.navbutton.special {
  background: none;
  border-radius: 5px
}

.navbutton.special:hover {
  background-color: #f0dcca;
  color: black;
}

@media screen and (max-width: 600px) {
  .navbar li:not(:first-child) {
    display: none;
  }

  .navbar li.icon-stack {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive li.icon-stack {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive li {
    clear: both;
    float: none;
    display: block;
    text-align: left;
  }

  .navbar.responsive li a {
    clear: both;
    float: none;
    display: block;
    text-align: left;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 99%;
  z-index: 1;
}

.blog .sticky {
  opacity: .8;
  transition-duration: .4s;
}

div.align {
  display: flex;
  align-items: center;
  text-align: center;
}

.button {
  border: none;
  background-color: black;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
}

.dark-mode .navbutton {
  color:white;
}

.button:hover {
  background-color: #73ADBF !important;
  transition-duration: 0.5s;
}

.dark-mode {
  background-color: #152028;
  color: #C4CAD4;
  transition-duration: 0.4s;
}

.dark-mode a {
  color: #f0dcca;
}

.blog.dark-mode {
  background-color: #152028;
  color: #C4CAD4;
  transition-duration: 0.4s;
}

.blog.dark-mode h3 a{
  color: #f0dcca;
}

.blog.dark-mode h3{
  color: #f0dcca;
}

.blog.dark-mode h3 a:hover{
  color: #8D9F87;
}

.blog.dark-mode h1 a {
  color: #f0dcca;
}

.blog.dark-mode h1 a:hover {
  color: #8D9F87;
}

.blog.dark-mode p {
  color: #C4CAD4;
}

.dark-mode .button:hover {
  background-color: #f9cb40 !important;
  color: black;
  transition-duration: 0.5s;
}

hr {
 margin-bottom:20px;
 margin-left:20px;
 margin-right:20px;
 margin-top: auto;
}

/* Loading */
body:not(.loaded) {
  display: none
}

/* Adjustments */
.left {
  float: left;
}

.right {
  margin-left: auto;
}

.floatright {
  float: right;
}

.clear {
  clear: both;
}

.slow {
  transition-duration: .4s
}
