/* Content -> Padding -> Border -> Margin */
/* .class #id */
.logoMain {
  display: block;
  border-radius: 8px;
  border: 2px solid black;
  padding: 5px;
  width: 75px;
  height: 75px;
  float: left;
  transition-duration: 0.4s;
}

a.logoLink {
  display: block;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 50px;
  width: 89px;
  height: 89px;
}

.logoMain:hover {
  /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
  box-shadow: 0 0 5px 2px red;
}

.centertextMain {
  padding-left: auto;
}

body {
  font-family: Courier;
  background-color: #fffaf0;
  color: black;
  transition-duration: 0.4s;
  padding: 0px;
  margin: 0px;
}

body a {
  color: black;
  transition-duration: 0.4s;
}

body div ul li a:hover {
  background-color: #8D9F87;
  color: white;
}

.blog h1 a {
  color: black;
}

.blog h3 {
  color: #1a202c;
}

.blog h3 a {
  color: #1a202c;
}

.blog h3 a:hover {
  color: #8D9F87;
}

.blog p {
  margin-left: 30px;
  margin-right: 30px;
}

.blog h1 a:hover {
  color: #8D9F87;
}

.blog .title {
  transition-duration: .4s;
}

.navbar {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  z-index: 1;
}

.blog .navbar {
  transition-duration: .5s;
}

.navbar a.active {
  background-color: #6f9283;
  color: white;
}

.navbar li a:not(.floatright) {
  display: block;
  float: left;
}

.navbar .icon-stack {
  display: none;
}

.navbutton {
  display: inline-block;
  color: white;
  text-decoration: none;
  /* padding: length|initial|inherit; */
  padding: 10px 12px;
  transition-duration: 0.5s;
}

.navbutton:hover {
  background-color: #f0dcca;
  color: black;
}

.navbutton.special {
  background: none;
  border-radius: 5px
}

.navbutton.special:hover {
  background-color: #f0dcca;
  color: black;
}

@media screen and (max-width: 600px) {

  .navbar li:not(:first-child) {
    display: none;
  }

  .navbar li.icon-stack {
    float: right;
    display: block;
  }

  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive li.icon-stack {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive li {
    clear: both;
    float: none;
    display: block;
    text-align: left;
  }

  .navbar.responsive li a {
    clear: both;
    float: none;
    display: block;
    text-align: left;
  }

  /* For Mobile */
  ul.icon-bar {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    text-align: center;
  }

  ul.icon-bar li {
    display: block;
  }

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.blog .sticky {
  opacity: .8;
  transition-duration: .4s;
}

div.align {
  display: flex;
  align-items: center;
  text-align: center;
}

.button {
  border: none;
  background-color: black;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #73ADBF !important;
  transition-duration: 0.5s;
}

header hr {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: auto;
}

hr {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.float {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 0 white, 10px 10px 0 #A2A2A0;
  margin: 5px;
}

footer .icon-bar {
  font-size: 35px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 30px;
  list-style-type: none;
  overflow: hidden;
  float: left;
  text-align: center;
}

footer .icon-bar li {
  display: inline-block;
  padding: 0;
}

footer .icon-bar li a {
  text-decoration: none;
  border-radius: 15px;
  padding: 10px;
  background-color: slategrey;
  color: #fffaf0;
  position: relative;
}

.fa-github-square:hover {
  background-color: #8D9F87;
  transition-duration: .3s;
  opacity: .8;
}

.fa-file-code:hover {
  background-color: #8D9F87;
  transition-duration: .3s;
  opacity: .8;
}

.fa-envelope:hover {
  background-color: #8D9F87;
  transition-duration: .3s;
  opacity: .8;
}

#colorPallet {
  list-style: none;
}

/* Loading */
body:not(.loaded) {
  display: none
}

/* Adjustments */
.left {
  float: left;
}

.right {
  margin-left: auto;
}

.floatright {
  float: right;
}

.clear {
  clear: both;
}

.slow {
  transition-duration: .4s
}

#colorPallet.float ul li {
  display: block;
  margin: 0 auto;
}